//Widescreens
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

//Desktops and Laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

//Tablets and Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }
    
    .menu-nav {
        height: 75vh;
        transform:  translate3d(-100%,0,0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%,0,0);

        .portrait {
            background: url(../images/profilepic_small.jpg);
            width: 150px;
            height: 150px;
        }
    }

    .about-info {
        grid-template-rows: repeat(5, 1fr);

        .bio-image {
            grid-row-start: 1;
            grid-column: 1 / -1;
            margin: auto;
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
        
        .bio {
            grid-row-start: 2;
            grid-column: 1 / -1;
            font-size: 1.5rem;
        }
        
        .job-1 {
            grid-row-start: 3;
            grid-column: 1 / -1;
        }
        
        .job-2 {
            grid-row-start: 4;
            grid-column: 1 / -1;
        }
        
        .job-3 {
            grid-row-start: 5;
            grid-column: 1 / -1;
        }
        
        .job {
            background: lighten($primary-color, 5);
            padding: 0.5rem;
            border-bottom: $secondary-color 5px solid;
        }
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

//Smartphones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }

    .projects {
        grid-template-columns: 1fr;
    }
    
}


